@model Deneme01.Models.Siparis
@{
    ViewBag.Title = "Sipariş Güncelle";
    Layout = "~/Views/Shared/_LayoutNavBar.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <title>Sipariş Güncelle</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.HiddenFor(x => x.SiparisID) <!-- UrunID bilgisini saklı bir şekilde post işlemine gönderiyoruz. -->

        <div style="margin-bottom:20px">
            <label>[GÜNCELLEME] Siparişi Gerçekleştiren Müşterinin 'MüşteriID' Bilgisi</label>
            @Html.TextBoxFor(x => x.MusteriID, new { @class = "form-control", style = "font-size:15px" })
        </div>
        <div style="margin-bottom:20px">
            <label>[GÜNCELLEME] Sipariş Edilen Ürünün 'UrunID' Bilgisi</label>
            @Html.TextBoxFor(x => x.UrunID, new { @class = "form-control", style = "font-size:15px" })
        </div>
        <div style="margin-bottom:20px">
            <label>[GÜNCELLEME] Siparişin Gerçekleştirildiği Tarih</label>
            @Html.TextBoxFor(x => x.Siparis_Edilen_Tarih, new { @class = "form-control", style = "font-size:15px" })
        </div>
        <div style="margin-bottom:20px">
            <label>[GÜNCELLEME] Sipariş Edilen Ürün Adeti</label>
            @Html.TextBoxFor(x => x.Siparis_Edilen_Urun_Adet, new { @class = "form-control", style = "font-size:15px" })
        </div>

        <div>
            <button type="submit" class="btn btn-warning" style="margin-right:20px; block-size:40px; font-size:15px;">Güncelle</button>
            <a href="@Url.Action("SiparisListele", "Siparis")" class="btn btn-secondary" style="font-size:16px"><b>İptal</b></a>
        </div>
    }
</body>
</html>
