@model Deneme01.Models.Urun
@{
    ViewBag.Title = "Ürün Güncelle";
    Layout = "~/Views/Shared/_LayoutNavBar.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <title>Ürün Güncelle</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.HiddenFor(x => x.UrunID) <!-- UrunID bilgisini saklı bir şekilde post işlemine gönderiyoruz. -->

        <div style="margin-bottom:20px">
            <label>[GÜNCELLEME] Ürünün Adı</label>
            @Html.TextBoxFor(x => x.Urun_Adi, new { @class = "form-control", style = "font-size:15px" })
        </div>
        <div style="margin-bottom:20px">
            <label>[GÜNCELLEME] Ürünün Renk Bilgisi</label>
            @Html.TextBoxFor(x => x.Urun_Renk_Bilgisi, new { @class = "form-control", style = "font-size:15px" })
        </div>
        <div style="margin-bottom:20px">
            <label>[GÜNCELLEME] Ürünün Stok Bilgisi</label>
            @Html.TextBoxFor(x => x.Stok_Bilgisi, new { @class = "form-control", style = "font-size:15px" })
        </div>
        <div style="margin-bottom:20px">
            <label>[GÜNCELLEME] Ürünün Garanti Süresi(AY)</label>
            @Html.TextBoxFor(x => x.Garanti_Süresi_AY, new { @class = "form-control", style = "font-size:15px" })
        </div>
        <div style="margin-bottom:20px">
            <label>[GÜNCELLEME] Ürünün Tahmini Teslimat Tarihi</label>
            @Html.TextBoxFor(x => x.Max_Teslimat_Tarihi, new { @class = "form-control", style = "font-size:15px" })
        </div>
        <div style="margin-bottom:20px">
            <label>[GÜNCELLEME] Ürünün Fiyat Bilgisi</label>
            @Html.TextBoxFor(x => x.Fiyat_Bilgisi, new { @class = "form-control", style = "font-size:15px" })
        </div>
        <div style="margin-bottom:20px">
            <label>[GÜNCELLEME] Ürünün İndirim Miktarı(Yüzde Olarak)</label>
            @Html.TextBoxFor(x => x.Yüzde_Cinsinden_Indirim_Miktari, new { @class = "form-control", style = "font-size:15px" })
        </div>
        <div style="margin-bottom:20px">
            <label>[GÜNCELLEME] Ürüne Özel Kullanılan BankaID Bilgisi</label>
            @Html.TextBoxFor(x => x.BankaID, new { @class = "form-control", style = "font-size:15px" })
        </div>
        <div style="margin-bottom:20px">
            <label>[GÜNCELLEME] Ürünün Bulunduğu Alt Kategori'ye Ait AltKategoriID Bilgisi</label>
            @Html.TextBoxFor(x => x.AltKategoriID, new { @class = "form-control", style = "font-size:15px" })
        </div>

        <div>
            <button type="submit" class="btn btn-warning" style="margin-right:20px; block-size:40px; font-size:15px;">Güncelle</button>
            <a href="@Url.Action("UrunListele", "Urun")" class="btn btn-secondary" style="font-size:16px"><b>İptal</b></a>
        </div>
    }
</body>
</html>
